In [1]:
327/14

23.357142857142858

In [2]:
b = [None] * 10

In [3]:
b

[None, None, None, None, None, None, None, None, None, None]

In [4]:
c[-1]

NameError: name 'c' is not defined

In [5]:
b.pop()

In [6]:

b

[None, None, None, None, None, None, None, None, None]

In [7]:
b = [ i for i in range(1, 11)]

In [8]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
b.pop()

10

In [10]:
b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
import random 
import time

random.seed(time.time())

In [12]:
a = list()

for i in range(100):
    a.append(random.randint(1, 1000))

In [13]:
a

[634,
 869,
 369,
 655,
 129,
 762,
 433,
 363,
 132,
 313,
 636,
 723,
 628,
 615,
 752,
 696,
 643,
 886,
 139,
 669,
 817,
 899,
 63,
 199,
 115,
 963,
 994,
 770,
 125,
 46,
 230,
 302,
 943,
 206,
 201,
 223,
 293,
 920,
 705,
 858,
 616,
 19,
 106,
 484,
 171,
 572,
 970,
 810,
 25,
 125,
 840,
 893,
 38,
 785,
 655,
 536,
 927,
 10,
 814,
 129,
 978,
 370,
 916,
 324,
 770,
 546,
 606,
 314,
 507,
 302,
 983,
 596,
 732,
 725,
 277,
 736,
 307,
 202,
 858,
 597,
 226,
 309,
 92,
 647,
 870,
 56,
 107,
 425,
 39,
 422,
 232,
 109,
 999,
 126,
 34,
 972,
 514,
 827,
 187,
 31]

In [20]:

start_time = time.time()
start_time

1594257518.3736124

In [21]:
print(" ---- %s seconds ---" % ( time.time()))

 ---- 1594257522.9383566 seconds ---

In [22]:
print(" ---- %s seconds ---" % ( time.time() - start_time))

 ---- 8.023392677307129 seconds ---

In [23]:
ord('김')

44608

In [24]:
ord('김')

44608

In [25]:
time.time()

1594260818.8454077

In [26]:
a

[634,
 869,
 369,
 655,
 129,
 762,
 433,
 363,
 132,
 313,
 636,
 723,
 628,
 615,
 752,
 696,
 643,
 886,
 139,
 669,
 817,
 899,
 63,
 199,
 115,
 963,
 994,
 770,
 125,
 46,
 230,
 302,
 943,
 206,
 201,
 223,
 293,
 920,
 705,
 858,
 616,
 19,
 106,
 484,
 171,
 572,
 970,
 810,
 25,
 125,
 840,
 893,
 38,
 785,
 655,
 536,
 927,
 10,
 814,
 129,
 978,
 370,
 916,
 324,
 770,
 546,
 606,
 314,
 507,
 302,
 983,
 596,
 732,
 725,
 277,
 736,
 307,
 202,
 858,
 597,
 226,
 309,
 92,
 647,
 870,
 56,
 107,
 425,
 39,
 422,
 232,
 109,
 999,
 126,
 34,
 972,
 514,
 827,
 187,
 31]

In [30]:
list(  filter ( lambda x: (x%2 == 0), a)  )

[634,
 762,
 132,
 636,
 628,
 752,
 696,
 886,
 994,
 770,
 46,
 230,
 302,
 206,
 920,
 858,
 616,
 106,
 484,
 572,
 970,
 810,
 840,
 38,
 536,
 10,
 814,
 978,
 370,
 916,
 324,
 770,
 546,
 606,
 314,
 302,
 596,
 732,
 736,
 202,
 858,
 226,
 92,
 870,
 56,
 422,
 232,
 126,
 34,
 972,
 514]

In [31]:
list( map ( lambda x : x*10, a))

[6340,
 8690,
 3690,
 6550,
 1290,
 7620,
 4330,
 3630,
 1320,
 3130,
 6360,
 7230,
 6280,
 6150,
 7520,
 6960,
 6430,
 8860,
 1390,
 6690,
 8170,
 8990,
 630,
 1990,
 1150,
 9630,
 9940,
 7700,
 1250,
 460,
 2300,
 3020,
 9430,
 2060,
 2010,
 2230,
 2930,
 9200,
 7050,
 8580,
 6160,
 190,
 1060,
 4840,
 1710,
 5720,
 9700,
 8100,
 250,
 1250,
 8400,
 8930,
 380,
 7850,
 6550,
 5360,
 9270,
 100,
 8140,
 1290,
 9780,
 3700,
 9160,
 3240,
 7700,
 5460,
 6060,
 3140,
 5070,
 3020,
 9830,
 5960,
 7320,
 7250,
 2770,
 7360,
 3070,
 2020,
 8580,
 5970,
 2260,
 3090,
 920,
 6470,
 8700,
 560,
 1070,
 4250,
 390,
 4220,
 2320,
 1090,
 9990,
 1260,
 340,
 9720,
 5140,
 8270,
 1870,
 310]

In [32]:
def factorial(n):
    if n == 1:
        print('end')
        return 1
    return n*factorial(n-1)

In [35]:
factorial(3)

end

6

# 섬 관광 프로그램

In [86]:
class Node:
    def __init__(self, name, left=None, right=None):
        self.name = name
        self.left = left
        self.right = right
        
def map(N):
    
    return Node(N)
#     n2 = Node('F')

In [36]:
node_list = [''] * 11

In [37]:
node_list

['', '', '', '', '', '', '', '', '', '', '']

In [87]:
a = dict()
ss = list()
al = ['H', 'F', 'S' , 'U','E', 'Z', 'K', 'N', 'A', 'Y', 'T']
for i,ii in enumerate(al):
    globals()['a{}'.format(i+1)] = map(ii)

In [55]:
ab.name

'T'

In [94]:
a7.name

'K'

#

In [97]:
23000/10

2300.0

In [98]:
110000/50

2200.0

In [88]:
def aaa():
    a1.left = a2
    a2.right = a3
    a2.left = a4
    a2.right =a5
    a3.left = a6
    a3.right = a7
    a4.left = a8
    a5.left = a9
    a7.left = a10
    a9.right = a11
    return a1

In [89]:
def A_course(n):
    if n !=None:
        print(n.name, '->', end='')
        A_course(n.left)
        A_course(n.right)

In [90]:
start = aaa()

In [91]:
print("A -코스 : \t , end =''")

A -코스 : 	 , end =''

In [92]:
A_course(a1)

H ->F ->U ->N ->E ->A ->T ->